bcrypt==3.2.2
cffi==1.15.0
cryptography==37.0.2
graphviz==0.20
Jinja2==3.1.2
macaddress==1.2.0
MarkupSafe==2.1.1
netmiko==4.1.0
nornir==3.3.0
ntc-templates==3.0.0
paramiko==2.11.0
pycparser==2.21
PyNaCl==1.5.0
pyserial==3.5
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scp==0.14.4
tenacity==8.0.1
textfsm==1.1.2
